body{
  background-color: #efcfe3;
}


.button-menu{
  display: inline-block;
  padding: 10px 20px;
  background-color:#333;
  color: white;
  text-decoration: none;
  border-radius: 20pc;
  margin-top: 90px;
  font-family: Arial, sans-serif;
  margin-bottom: center
}
.botton-menu: hover{
  background-color: #555;
}
 h1{
   color:#d0a933; 
   font-size: 50px;
   text-align: center;
   font-family: "Times New Roman", Times, serif;
 }
 h2{
   color: #d0a933;
   text-align: center;
   font-size: 40px;
 }
h3{
  color: #d0a933;
  font-size: 20px;
  text-align: center;
  
  
}



.parrafo1{
  padding: 25px 25px 25px;
  background-color: #d0a933;
  font-family: "Segoe UI", sans-serif;
}
.parrafo2{
  padding: 25px 35px 25px;
  background-color: lightsteelblue;
  font-variant: small-caps;
}
.parrafo3{
  padding:  25px 35px 24px;
  font: italic small-caps bold 15px/30px Georgia, serif;
  background-color: #a85334
}
.parrafo4{
  padding: 10px 10px 15px;
  background-color: #47081c;
  font-family:  fantasy;
}
.parrafo5{
  padding: 35px 25px 35px;
  background-color: #633a6d;
  font-family: cursive;
}
nav ul {
 list-style-type: none;
  padding: 0;
  display: flex;
  gap: 270px;
  background-color: #979772;
  padding: 10px;
 
}

body{
  background-color: #efcfe3;
}

.containeri { 
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;  
  text-align: center;
  background: url(img.jpeg) right bottom no-repeat, url(paper.gif)left top repeat; 
  padding: 25px;
}


 .container-t{
   background-color: #924f87;
   color: #ae8c29;;
   font-family: 'Segoe UI' Tahoma, Geneva, Verdana, sans-serif;
   padding: 10px;
   border-radius: 12px;
   
 }
table{
  width: 50px;
  border-collapse: collapse;
  margin-top: 10px;
}
caption{
  font-size:16px ;
  font-weight: bold;
  text-align: left;
  margin-bottom: 20px;
  color: #ffffff;
  
}
th,td{
  padding: 8px;
  text-align: center;
  border-bottom:  1px solid  #333;
  vertical-align: middle;
}
th{
  font-weight: 600;
  color: #b0b0b0;
  text-transform: capitalize;
}
.feature-column{
  font-weight: bold;
  color: #fffffff;
  width: 105%;
}
tbody tr:hoover{
  background-color: #4f1717;
  
}


