.body0{
  background: white;
}
.hero{
  position: relative;
  height: 100vh;
  background-image: url('https://static.vecteezy.com/system/resources/previews/013/456/315/non_2x/minimalist-pink-background-with-flowers-leaves-with-gold-blotches-spring-summer-vector.jpg');
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.overplay{
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.45);
}
.hero-content{
  position: relative;
  z-index: 1;
  color:#d0a933;
  max-width: 700px;
  padding: 20px;
}
.hero h1{
  font-family: 'Playfair Display', serif;
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.subtitle{
  font-size: 1.3rem;
  margin-top: 10px;
  color: #d0a933;
}
.phrase{
  margin: 30px 0 40px;
  font-family: cursive;
  font-size: 1.4em;
}
.btn{
  display: inline-block;
  padding: 14px 35px;
  background:  #a65975;
  color: #333;
  text-decoration: none;
  border-radius: 30px;
  font-weight: 600;
  transition: 0.3s ease;
}

.section{
  padding: 80px 10%;
  text-align: center;
}
.section h2{
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
  margin-bottom: 40px;
  color: #c27ba0;
}
.cards{
  display: grid;
  grid-template-columns: reeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}
.card{
  background: white;
  border-radius: 30px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba9(0,0,0,0.08);
  transition: 0.3s ease;
}
.card:hover{
  transform: translateY(-8px);
}
.card img{
  width: 40%;
  height: 240px;
  object-fit: cover;
}
.card h3{
  margin: 20px 0 10px;
  font-size: 1.4rem;
}
.card p{
  padding: 0 20px;
  color: #666;
  font-size: 0.95rem;
}
.card span{
  display: block;
  margin: 20px 0 25px;
  font-size: 1.2rem;
  font-weight: bold;
  color: #c27ba0;
}
.social{
  background:#fde8f1;
}
.social p{
  margin-bottom: 25px;
  color: #666;
}
.social-icons{
  display: flex;
  justify-content: center;
  gap: 25px;
}
.social-icons a{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: white;
  color: #c27ba0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-decoration: none;
  box-shadow: 0 5px 20px rgba(0,0,0,0.1);
  transition: 0.3s ease;
}
.social-icons a:hover{
  transform: scale(1.1);
  background: #c27ba0;
  color: white;
}
footer{
  background: #1f1f1f;
  color: #fff;
  text-align: center;
  padding: 20px;
  font-size: 0.9rem;
}

.subtitle{
  font-size: 1.1rem;
}
.phrase{
  font-size: 1rem;
}
.section{
  padding: 60px 6%;
}
.container{
  width: 160%;
  max-width: 1300px;
  margin: 40px auto;
  background: #edcee8;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
  display: flex;
  align-items: right;
  justify-content: space-between;
}
.body1{
  background-color: #fce4ec;
}

.cs1 {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  color: #880e4f;
  text-align: center;
  padding: 0px;
}
.inf{
  width: 85%;
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.pcs{
  font-family: 'Playfair Display', serif;
  color: #ad1457;
  font-size: 30ox;
  margin-bottom: 20px;
}

.puis{
  line-height: 1.9;
  font-size: 17px;
  color: #555;
  text-align: justify;
}
.pui{
  line-height: 1.9;
  font-size: 17px;
  color: #555;
  text-align: justify;
  
}


.body2{
  background-color: #efcfe3;
}

.parrafo1{
  padding: 25px 25px 25px;
  background-color: #d0a933;
  font-family: "Segoe UI", sans-serif;
}
.parrafo2{
  padding: 25px 35px 25px;
  background-color: lightsteelblue;
  font-variant: small-caps;
}
.parrafo3{
  padding:  25px 35px 24px;
  font: italic small-caps bold 15px/30px Georgia, serif;
  background-color: #a85334;
}
.parrafo4{
  padding: 10px 10px 15px;
  background-color: #47081c;
  font-family: fantasy;
}
.parrafo5{
  padding: 35px 25px 35px;
  background-color: #633a6d;
  font-family: cursive;
}




.body3{
  background-image: url('https://image.slidesdocs.com/responsive-images/background/pink-flower-minimalist-watercolor-flowers-nature-powerpoint-background_d9efefe514__960_540.jpg');
   background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-size: 100% 100%;
}
.abt{
  text-align: center;
  padding: 60px 20px;
  font-family: "Segoe UI", sans-serif;
  color:#d0a933;
  font-size: 35px;
  padding: 0;
}

.mee{
  width: 85%;
  max-width: 1000px;
  margin: 40px auto;
  background: #efcfe3;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.parrabt{
   line-height: 1.9;
  font-size: 17px;
  color: #2e2e2e;
  text-align: justify;
}
.qsm{
  font-size: 15px;
  text-align: center;
  color:#d0a933;
}
.body4{
  background-color: #efcfe3;
}

.pac1 {
  font-family: 'Playfair Display', serif;
  font-size: 35px;
  color: #880e4f;
  text-align: center;
  padding: 0px;
}
.parrafopc{
  width: 85%;
  max-width: 1000px;
  margin: 40px auto;
  background: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}
.linksia{
  text-align: center;
}
.parraia{
  line-height: 1.9;
  font-size: 17px;
  color: #434242;
  text-align: justify;
}
  
 




 
 
